doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Koom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
    header
        h1 Koom
    main
        h2 Welcome
    script(src="/public/js/app.js") 